* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
}
.header {
    background-color: darkblue;
    color: white;
    height: 60px;
    font-size: 1.5em;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 30px;
}
.main {
    height: 300px;
    background-image: url("images/main.png");
    background-size: cover;
    background-position: center center;
}
.text {
    height: 250px;
    background-color: white;
    padding: 0 30px;
    line-height: 30px;
}
/* .text > div {

} */
.text > div > p:first-child {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 10px;
}
.text > div > p:nth-child(2) {
    font-size: 20px;
    color: #1b1b1b;
    font-weight: bold;
    margin-bottom: 30px;
}
.text > div > p:last-child {
    font-size: 16px;
    color: #7a7a7a;
    font-weight: bold;
}

.one {
    height: 300px;
    background-image: url("images/one.png");
    background-size: cover;
    background-position: center center;
}
.two { 
    height: 150px;
    background-image: url("images/two.png");
    background-size: cover;
    background-position: center center;
    line-height: 150px;
    text-align: center;
    padding: 0;
}
.two > a {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 9px 40px;
    border: 4px solid white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    color: white;
}
.three {
    height: 150px;
    background-image: url("images/three.png");
    background-size: cover;
    background-position: center center;
}
@media screen and (min-width: 768px) {
.main {
    height: 500px;
}   
.one {
    width: 50%;
    height: 300px;
    float: left;
}   
.two {
    width: 50%;
    height: 150px;
    float: right;
    line-height: 150px;
    text-align: center;
}
.two > a {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 9px 40px;
    border: 4px solid white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    color: white;
}
.three {
    width: 50%;
    height: 150px;
    float: right;
}
}
@media screen and (min-width: 1440px) {
    .main {
        width: 50%;
        height: 800px;
        float: left;
    }
    .text {
        width: 50%;
        height: 400px;
        float: right;
    }
    .one {
        width: 25%;
        height: 400px;
        float: left;
    }   
    .two {
        width: 25%;
        height: 200px;
        float: right;
    }
    .two > a {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 9px 40px;
    border: 4px solid white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    color: white;
}
    .three {
        width: 25%;
        height: 200px;
        float: right;
    }
    }