.container {
    width: 100%;
    height: 800px;
    margin: auto;
    background-image: url("images/bg_nike.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    text-align: center;
    padding-top: 500px;
    
}
.inner {
    width: 60%;
    /* height: 300px; */
    background-color: white;
    margin: auto;
}
img {
    width: 7%;
    margin-top: 20px;
}
.inner > p {
    font-size: 0.5em;
    margin-bottom: 20px;
}
.bt {
    border-top: 1px solid #999;
    background-color: #eee;
}
