body {
    background-color: #f0E8D9;
    color: #58595b;
}
div {
    text-align: center;
}
.header {
    margin: 75px;
}
.header > h1 {
    font-size: 64px;
}
.header > h3 {
    font-size: 32px;
    margin-top: 30px;
}
div.item {
    width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}
#food {
    width: 300px;
    height: 200px;
    margin: 0;
    background-image: url("images/food.jpg");
    border-radius: 10px 10px 0px 0px;
    background-size: 300px 200px;
}
#digital {
    width: 300px;
    height: 200px;
    margin: 0;
    background-image: url("images/digital.jpg");
    border-radius: 10px 10px 0px 0px;
    background-size: 300px 200px;
}
#product {
    width: 300px;
    height: 200px;
    margin: 0;
    background-image: url("images/product.jpg");
    border-radius: 10px 10px 0px 0px;
    background-size: 300px 200px;
}
#sports {
    width: 300px;
    height: 200px;
    margin: 0;
    background-image: url("images/sports.jpg");
    border-radius: 10px 10px 0px 0px;
    background-size: 300px 200px;
}
.item > div > h3 {
    margin: 0;
}
.item div:last-child {
    padding: 20px;
}
.item > div p:first-child {
    margin-top: 20px;
    margin-bottom: 16px;
}
.item > div p:last-child {
    color: blue;
    font-weight: bold;
    margin: 0%;
}
