div {
    float: left;
    height: 100px;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.dark-purple {
    background-color: darkmagenta;
}
.purple {
    background-color: mediumorchid;
}
.w25 {
    width: 25%;
}
.w50 {
    width: 50%;
}
.w100 {
    width: 100%;
}
.clear-both {
    clear: both;
}